._subscribe {
  margin-left: 150px;
  letter-spacing: 1.35px;

  ._ref {
    font-size: 30pt;
    line-height: 30px;
    letter-spacing: 1.94px;
    color: #ae81ff;

    strong { font-size: 13.1pt; font-weight: normal }
  }
}
