._subscribe {
  margin: 70px 0 70px 180px;
  letter-spacing: 1.35px;

  ._ref {
    font-size: 30pt;
    line-height: 30px;
    letter-spacing: 1.94px;
    color: #ae81ff;

    strong { font-size: 12.1pt; font-weight: normal }
  }
}
